services:
  postgres:
    image: postgres:${POSTGRES_VERSION}
    ports:
      - "${POSTGRES_HOST_PORT}:${POSTGRES_CONTAINER_PORT}"
    container_name: ${PROJECT_NAME}_postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - pg-data:/var/lib/postgresql/data/pgdata
    networks:
      - internal
    restart: unless-stopped

  odoo:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: ${PROJECT_NAME}_odoo
    depends_on:
      - postgres
    volumes:
      - odoo-filestore:/var/lib/odoo
      - ./src:/mnt/extra-addons
      - ./odoo/entrypoint.sh:/entrypoint.sh:ro
    command: odoo --dev=all
    environment:
      PGHOST: postgres
      PGPORT: ${POSTGRES_CONTAINER_PORT}
      PGUSER: ${POSTGRES_USER}
      PGPASSWORD: ${POSTGRES_PASSWORD}
      SMTP_SERVER: ${ODOO_SMTP_SERVER}
      SMTP_PORT: ${ODOO_SMTP_PORT}
      DBFILTER: ${ODOO_DBFILTER}
      SERVER_WIDE_MODULES: ${ODOO_SERVER_WIDE_MODULES}
      MAX_CRON_THREADS: ${ODOO_MAX_CRON_THREADS}
      WORKERS: ${ODOO_WORKERS}
      CUSTOM_ENABLED: ${CUSTOM_ENABLED}
      LIST_DB: ${ODOO_LIST_DB}
      WITHOUT_DEMO: ${ODOO_WITHOUT_DEMO}
      PROXY_MODE: ${ODOO_PROXY_MODE}
      SERVER_MODE: ${ODOO_SERVER_MODE}
      AEROO_DOCS_HOST: ${AEROO_DOCS_HOST}
      LIMIT_TIME_REAL_CRON: ${ODOO_LIMIT_TIME_REAL_CRON}
      LIMIT_TIME_REAL: ${ODOO_LIMIT_TIME_REAL}
      UNACCENT: ${ODOO_UNACCENT}
      ADMIN_PASSWORD: ${ODOO_ADMIN_PASSWORD}
      LOG_LEVEL: ${ODOO_LOG_LEVEL}
    ports:
      - "${ODOO_HOST_PORT}:${ODOO_CONTAINER_PORT}"
      - "${ODOO_HOST_PORT_XMLRPC}:${ODOO_CONTAINER_PORT_XMLRPC}"
    networks:
      - internal
    restart: unless-stopped

volumes:
  pg-data:
  odoo-filestore:

networks:
  internal:
    driver: bridge
